<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/styles/main.css}" />
  <link rel="stylesheet" th:href="@{/styles/info.css}">
</head>
<body>
<div class="wrapper">
  <div class="background"></div>
  <div th:insert="blocks/header :: header"></div>
  <div class="main">
    <div class="main-container">
      <div class="head-items">
        <h1 class="title">Пользователи с наибольшей активностью</h1>
      </div>
      <div class="item" th:each="el : ${users}">
        <h2 class="item-title" th:if="${el.role.equals('admin')}" th:text="'Статус: Администратор'"/>
        <h2 class="item-title" th:if="${el.role.equals('user')}" th:text="'Статус: Работник'"/>
        <h2 class="item-title" th:text="'Id пользователя: ' + ${el.getUserID()}"/>
        <div class="item-wrapper">
          <div class="item-content">
            <p th:text="'Имя: ' + ${el.name}"/>
            <p th:text="'Фамилия: ' + ${el.surname}"/>
            <h3 th:text="'Активность: ' + ${el.activity}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>