<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование операции</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/styles/main.css}"/>
  <link rel="stylesheet" th:href="@{/styles/add.css}">
</head>
<body>
<div class="wrapper">
  <div class="background"></div>
  <div th:insert="blocks/header :: header"></div>
  <div class="main">
    <div class="main-container">
      <h1 class="title">Редактирование операции отпуска</h1>
      <form th:action="'/services/operations/release/' + ${res.getReleaseId()} + '/edit'" th:object="${res}" method="post">
        <div class="field">
          <label>Дата:</label>
          <input type="date" name="date" class="form-control" th:value="${res.operation.date}" required>
        </div>
        <div class="field">
          <label>Код партии:</label>
          <select class="form-control" th:field="*{order}" required>
            <option th:each="el : ${orders}" th:value="${el.getOrderId()}" th:text="${el.getOrderId()}"></option>
          </select>
        </div>
        <button type="submit" style="margin-top: 10px" class="button">Сохранить</button>
      </form>
    </div>
  </div>
  <div id="footer" th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>